<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>depart</servlet-name>
  	<servlet-class>mvc.exam1.DepartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>depart</servlet-name>
  	<url-pattern>/depart.action</url-pattern>
  </servlet-mapping>
  <!-- http://localhost:8080/MVCApp/depart.action -->
  
  <servlet>
  	<servlet-name>cart</servlet-name>
  	<servlet-class>mvc.exam2.BookController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>cart</servlet-name>
  	<url-pattern>/cart.action</url-pattern>
  </servlet-mapping>
</web-app>